@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

:root {
  --primary-color: rgb(5, 56, 107);
  --links-btn-color: rgb(55, 150, 131, 0.9);
  --secondary-color: rgb(92, 219, 149);
  --hover-color: rgba(44, 111, 178, 0.65);
  --mainTransition: all 0.3s linear;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color) !important;
}

p {
  margin: 0.75rem 0;
}

/* utility classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0.2rem;
  overflow: hidden;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
  color: #edf5e1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
  text-align: center;
  color: #edf5e1;
  padding: 2rem 0;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.skill {
  color: #edf5e1;
}

.highlight-link {
  text-decoration: none;
  color: #36363c;
  display: inline-block;
  padding: 0px 7px;
  transition: var(--mainTransition);
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: inset 0 -10px 0 var(--links-btn-color);
}

.highlight-link:hover {
  box-shadow: inset 0 -55px 0 0 var(--links-btn-color);
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: var(--secondary-color);
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
  /* height: 60px; */
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar #home-link {
  font-size: 2rem;
  color: var(--primary-color);
  padding: 0 0.5rem;
}

#navbar ul li a {
  color: var(--primary-color);
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: var(--links-btn-color);
  border-radius: 5px;
}

#navbar .social {
  justify-self: center;
}

#navbar .social i {
  margin-right: 0.7rem;
  transition: var(--mainTransition);
}

#navbar .social i:hover {
  color: #edf5e1;
}

/* heading */
.header {
  top: 200px;
}

.header-container {
  min-height: calc(100vh - 60px);
  text-align: left;
  height: 100%;
  align-items: left;
  justify-content: center;
  color: #edf5e1;
}

.header-container img {
  width: 50%;
  height: 50%;
}

/* projects */
.projects {
  padding-bottom: 4rem;
}

.projects-container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  column-gap: 1.5rem;
  row-gap: 2rem;
}

/* single project */
.project-container {
  position: relative;
  overflow: hidden;
  /* display: block;
  width: 100%;
  min-height: 12rem; */
}

.links-btn1,
.links-btn2 {
  position: absolute;
  right: 0;
  background: var(--links-btn-color);
  border: none;
  /* text-transform: uppercase; */
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
  color: #fff;
}

.links-btn1 a,
.links-btn2 a {
  color: #fff;
}

.links-btn1 {
  top: 50%;
}

.links-btn2 {
  top: 70%;
}

.fa-github,
.fa-lock {
  margin-right: 0.5rem;
}

.project-container:hover .links-btn1,
.project-container:hover .links-btn2 {
  transform: translateX(0);
}

.project-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}

.project-container:hover .project-img {
  opacity: 0.5;
}

/* about */
.about p {
  width: 90vw;
  margin: 0 auto;
  max-width: 1100px;
  margin-bottom: 4rem;
  color: var(--primary-color);
  line-height: 1.7;
  font-size: 1.1rem;
}

/* contact */
#contact p {
  width: 90vw;
  margin: 0 auto;
  max-width: 1100px;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
  text-align: center;
}

#contact p a {
  color: #edf5e1 !important;
}

/* footer */
.footer {
  background: var(--links-btn-color);
  text-align: center;
  padding: 0.75rem 0;
  color: var(--primary-color);
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer .social {
  display: flex;
  padding-top: 1rem;
}

.footer .social i {
  padding: 0 1.5rem;
  transition: var(--mainTransition);
}

.footer .social i:hover {
  color: var(--secondary-color);
}
